{% extends "base.html" %}
{% block content %}
<h2>Add Product</h2>

<form method="post" class="auth-box">
  <input type="text" name="name" placeholder="Product name" required>
  <input type="number" name="price" placeholder="Price" required>
  <input type="text" name="img" placeholder="Image URL" required>
  <input type="text" name="category" placeholder="Category" required>
  <label><input type="checkbox" name="featured"> Featured</label>
  <button class="btn">Add Product</button>
</form>
{% endblock %}
