{% extends "base.html" %}
{% block content %}
<h2>Add Product</h2>
<form method="post" style="max-width:520px">
  <div><input name="name" placeholder="Name" required></div>
  <div style="margin-top:8px"><input name="price" placeholder="Price" required></div>
  <div style="margin-top:8px"><input name="img" placeholder="Image URL"></div>
  <div style="margin-top:8px"><input name="category" placeholder="Category"></div>
  <div style="margin-top:8px"><label><input type="checkbox" name="featured"> Featured</label></div>
  <div style="margin-top:12px"><button class="btn">Add</button></div>
</form>
{% endblock %}
