{% extends "base.html" %}
{% block content %}

<h2>Edit Product</h2>

<form method="post" class="auth-box">
  <input type="text" name="name" value="{{ product.name }}" required>
  <input type="number" name="price" value="{{ product.price }}" required>
  <input type="text" name="img" value="{{ product.img }}" required>
  <input type="text" name="category" value="{{ product.category }}" required>

  <label>
    <input type="checkbox" name="featured" {% if product.featured %}checked{% endif %}> Featured
  </label>

  <button class="btn">Save Changes</button>
</form>

{% endblock %}
