{% extends "base.html" %}
{% block content %}

<h2>Admin Dashboard</h2>

<a class="btn" href="{{ url_for('admin_add') }}">Add Product</a>

<div class="grid">
  {% for p in products %}
  <div class="card">
    <img src="{{ p.img }}">
    <h3>{{ p.name }}</h3>
    <p>₹{{ p.price }}</p>

    <a class="btn" href="{{ url_for('admin_edit', pid=p.id) }}">Edit</a>
    <a class="btn btn-outline" href="{{ url_for('admin_delete', pid=p.id) }}">Delete</a>
  </div>
  {% endfor %}
</div>

{% endblock %}
